body{
    background-color: rgb(85 125 112);
    color: white;
    font-family: "Baskervville SC", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: black;
    color: white;
    font-family: "Baskervville SC", serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}